body {
  font-size: 100%;
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  // height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.Pane {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.Pane > div {
  width: 100%;
}

.Results {
  padding: 2rem;
}

.field__add,
textarea:focus {
  outline: none;
  background: #f8f8f8;
}

.field {
  position: relative;
  display: inline-block;
  display: inline-flex;
  margin-right: 1rem;
}

.field__remove {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 10;
}

.field__add {
  padding: 0;
  width: 290px;
  // height: 100%;
  background: none;
  border: 1px dashed #ccc;
  flex: 0 0 auto;
  border-radius: 5px;
  font-size: 44px;
  color: #ccc;
  cursor: pointer;
}

.field__add:hover {
  background: #fafafa;
}

.fields {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 290px;
}

.fields,
.result {
  display: flex;
  white-space: nowrap;
  overflow: auto;
  width: 100%;
}

.result {
  display: inline-block;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

textarea {
  font-size: 1rem;
  line-height: 1.5em;
  padding: 1rem;
  border: 1px solid #ccc;
}

.author {
  float: right;
  color: #fff;
}

.hireme {
  color: #999;
  font-weight: 300;

}

.hireme a {
  color: #999;
}